*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg, #1e1e2f, #3a3a5a);
    color:white;
    text-align:center;
}

header{
    padding:30px;
}

header h1{
    font-size:40px;
    margin-bottom:10px;
}

header p{
    color:#ccc;
}

/* Galería */
.galeria{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    overflow:hidden;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
    cursor:pointer;
    transition:transform 0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.1);
}

/* Modal */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    justify-content:center;
    align-items:center;
}

.modal-img{
    max-width:80%;
    max-height:80%;
    border-radius:10px;
}

.cerrar{
    position:absolute;
    top:20px;
    right:40px;
    font-size:40px;
    cursor:pointer;
}
